html
  head
    meta(charset='UTF-8')
    title 星火聊原 | 首頁
    script(type="text/javascript", src="../odercards.js")
    link(type="text/css", rel="stylesheet", href="../css/base.css")
    link(type="text/css", rel="stylesheet", href="../css/index.css")
    //- cd
    //- pug -w ./ -o ./html -P
  body
    #nav-bar
    #title
      img.logo(src="../img/c-font3.png", alt="")
      img.img1(src="../img/02-13989761442204.png", alt="")
      img.img2(src="../img/03-13989837604418.png", alt="")
      //- img(src="", alt="")
      p 星象之形必有因，破解謠言為君醒
    #animation 
    #manga 
    #about
